<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sendi.login">

    <application>
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.RegisterActivity"
            android:launchMode="singleTask"
            />
    </application>

</manifest>
